build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Qt Creator / qmake
*.pro.user
*.pro.user.*
*.qmake.stash
moc_*.cpp
qrc_*.cpp
ui_*.h

# Binaries
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.lib
